* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas {
  /* height: 100vh;
    width: 100vw; */
  background-color: #ffffff;
  background: transparent;
  border: 2px solid #dadce0;
}

.vartbar {
  height: 60vh;
  width: 6vh;
  text-align: center;
  border: 2px solid #dadce0;
  padding: 10px;
  position: absolute;
  /* display: inline-block; */
  /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
  border-radius: 50px;
  left: 1em;
  background-color: #ffffff;
  /* z-index: 33; */
}
.color {
  display: none;
}
.color1 {
  display: block;
  width: 400%;
  height: 30%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  left: 3em;
  box-shadow: 12px 2px 20px -1px rgba(0, 0, 0, 0.75);
  position: absolute;
  background-color: #ffffff;
}
.color > p {
  margin: 6%;
}
.space {
  margin-top: 200%;
  cursor: pointer;
}
