* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
 */

.switch {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 60px;
  border-radius: 50px;
  padding: 4px 5px;
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: auto;
}

.fa-adjust {
  transform: rotate(180deg);
}

.switch input {
  display: none;
}

.slider {
  background-color: #999;
  transition: 0.4s;
  border-radius: 34px;
  height: 22px;
  width: 22px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  transform: translateX(10px);
}

nav {
  background: #d2cca1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: var(--navHeight);
  padding: 0 10px;
}

nav ul li {
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;
  position: relative;
}

nav ul li:hover {
  background-color: #dedaba;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: #e5c687;
  height: calc(100vh - var(--navHeight));
}
:root {
  --navHeight: 70px;
  --sage: #d2cca1;
  --paleSpringBud: #dedaba;
  --goldCrayola: #ffffff;
  --richBlackForeground: #0f1a20;
  --white: #fff7f7;
  --black: #222;
  --msuGreen: #2d4739;
  --gray: #eee;
}

.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--white);
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
}
nav {
  color: var(--fontColor);
}

nav {
  background: var(--navBg);
}

nav ul li:hover {
  background-color: var(--navLinkHoverBg);
}

main {
  background: var(--mainBg);
}
/*  */
.container {
  width: 100vw;
  height: 100vh;
  background-color: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas {
  /* height: 100vh;
  width: 100vw; */
  background-color: #ffffff;
  background: transparent;
  border: 2px solid #dadce0;
}

.vartbar {
  height: 60vh;
  width: 6vh;
  text-align: center;
  border: 2px solid #dadce0;
  padding: 10px;
  position: absolute;
  /* display: inline-block; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  border-radius: 50px;
  left: 1em;
  background-color: #ffffff;
  /* z-index: 33; */
}
.color {
  display: none;
}
.color1 {
  display: block;
  width: 400%;
  height: 30%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  left: 3em;
  box-shadow: 12px 2px 20px -1px rgba(0, 0, 0, 0.75);
  position: absolute;
  background-color: #ffffff;
}
.color > p {
  margin: 6%;
}
.space {
  margin-top: 200%;
  cursor: pointer;
}
.size {
  display: none;
}
.size1 {
  display: block;
  width: 400%;
  height: 10%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  left: 3em;
  box-shadow: 12px 2px 20px -1px rgba(0, 0, 0, 0.75);
  position: absolute;
  background-color: #ffffff;
}
.size > p {
  margin: 6%;
}
.shapes {
  display: none;
}
.shapes1 {
  display: block;
  width: 400%;
  height: 10%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  left: 3em;
  box-shadow: 12px 2px 20px -1px rgba(0, 0, 0, 0.75);
  position: absolute;
  background-color: #ffffff;
}
.shapes > p {
  margin: 6%;
}
